body {
    padding-left: 40px;
    padding-right: 40px;
        background-image: url('/projektas/images/background.jpg') ;
}

/*---------------------index psl aprasymas------------*/
.carousel-item {
	background-size: cover;
	background-position: center center;
}

.carousel {
    height: 100vh;
}

.carousel.carousel-slider .carousel-item h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 70px;
    font-family: 'Merienda', cursive;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.carousel-wrapper {
    background-image: url('/projektas/images/background.jpg') ;
}

/*Scroll baro CSS*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b30000; 
    border-radius: 10px;
}

/*----------------parallax --------------------------*/

.parallax-container {
    height: 200px;
}

.parallax {
    width: 100%;
}
/*------------------header psl aprasymas--------------------*/

.navigation-style {
    z-index: 100;
    box-shadow: none;
    background-color:  #FFFFE7;

}

nav a {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: #000;
}

nav .brand-logo {
    color: #000;
    margin-left: 50px;
}

nav ul a {
    color: #000;
}

.brand-logo {
margin-left: 50px;
}

.image-logo {
    width: 250px;
    margin-top: 10px;
}

.dropdown-content {
    top: -50px;
}


/*Kodas po karusele front page*/

.second-row {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;
    font-size: 64px;
    font-weight: lighter;

}

.bio {
    display: inline-block;
    max-width: 300px;
    text-align: center;
    margin-right: 40px;

}

.face {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
}

.name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    color: #black;
}

.information {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.about-us-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color:  #FFFFE7;
}

.second-row {
    background-color: #FFFFE7;
    font-size: 60px;
}




/*--------------------------Kontaktu forma---------------------------------*/




/*------------------about_us psl aprasymas--------------------*/

.About_us_h2 {
    text-align: center;
}

/*.map-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
}*/
.tabs {
	position: relative;
    z-index: 100;
    background-color: transparent;
    box-shadow: none;
}


#test1.active {
    margin-top: 50px;
    display: flex!important;
    align-items: center;
}

#test3.active  {
    margin-top: 50px;
    display: flex!important;
    align-items: center;
}

#test4.active  {
    margin-top: 50px;
    display: flex!important;
    align-items: center;
}

.about-us-p {
    margin-left: 50px;
    text-align: justify;
    font-weight: bold;
}

.mapouter {
    margin-top: 40px;
} 

.contacts-about {
    text-align: right;
    margin-top: 30px;
    font-weight: bold;
}


.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
}

.tabs .indicator {
    background-color: #000;
    }

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #fff;
    }

.tabs .tab a {
    color: rgba(85, 74, 74, 0.7);
    }

.center-me-about {
    display: flex;
    align-items: center;


}


/*-----------------------------------------------------------
/*------------------meniu psl aprasymas--------------------*/

.menu-header {
    text-align: center;
    font-size: 64px;
    font-weight: lighter;
}
.collection {
    position: relative;
    padding-top: 0px;
    border: none;
    width: 75%;
}
.circle {
    border-radius: 33%;
}
.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle{
    position: absolute;
    width: 120px;
    height: 86px;
    overflow: hidden;
    left: 9px;
    display: inline-block;
    vertical-align: middle;
}
.title {
    font-weight: bold;
}

.price_button {
    position: absolute;
    right: 0;
    top: 10%;
}
/*-----------------------------------------------------------*/
/*------------------faq psl aprasymas--------------------*/

.collapsible {
    position: relative;
    padding-top: 20px;
    border: none;
    width: 75%;
    -webkit-box-shadow: none; 
     box-shadow: none; 
}


.collection .collection-item.avatar {
    padding-left: 200px;
    position: relative;
    min-height: 110px;
}

.collection {
    width: 100%;
    }


.collapsible-body {
    display: none;
    box-sizing: border-box;
    padding: 1rem;
    border-bottom: none;
}

.collapsible li.active .material-icons {
    transform: rotate(180deg);
}

.collapsible li .material-icons {
    transform: rotate(360deg);
    transition: 0.5s all;
}

.pirmasCollapsible {
    margin-top: 50px;
    margin-bottom: 10px;
    background-image: url('/projektas/images/grains.jpg');
    background-repeat: repeat;
    background-size: 100%;
    height: 150px;
    width: 100%;
    color: white;
    font-size: 64px;
    justify-content: center;
    position: relative;
    object-fit: cover;
}

.antrasCollapsible {
    background-image: url('/projektas/images/pad.jpg');
    background-repeat: repeat;
    background-size: 100%;
        height: 150px;
    width: 100%;
    color: white;
    font-size: 64px;
    justify-content: center;
    position: relative;
    object-fit: cover;
}

.treciasCollapsible {
    background-image: url('/projektas/images/meat.jpg');
    background-position: center; 
    background-repeat: repeat;
    margin-top: 10px;
    background-size: 100%;
    height: 150px;
    width: 100%;
    color: white;
    font-size: 64px;
    justify-content: center;
    position: relative;
    object-fit: cover;
}

.center-span {
    font-size: 24px;

}


.collapsible-body {
    text-align: justify;
    justify-content: center;
    position: relative;
    object-fit: cover;
    width: 100%;
}

.drop-wrapper {
    display: inline;
}

/*-----------------------------------------------------------*/
/*------------------footer psl aprasymas--------------------*/
.footer-wrapper {
    background-color: #FFFF9B;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-copyright img {
    max-height: 30px;
    max-width: 70px;
    margin: 10px;
}
/*-----------------------------------------------------------*/

#form {
    background-color: transparent;
}
